.App {
  text-align: center;
}

body{
  background-image: url(../public/imagenes/Fondo1.webp) ;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h2{
  background-color: black;
  border-radius: 10px;
  color: rgb(255, 232, 132) !important;
  display: inline-block ;
}




